In [1]:
from simfin import simulator, replicator

In [2]:
x = simulator(2021,2050)

In [3]:
x.pop.head()

                                            2021          2022          2023  \
age educ insch male  nkids married
0   none False False 0     False    41984.204404  42618.814547  41895.888040
               True  0     False    42445.022105  42063.128223  42698.775683
1   dec  False False 0     False        0.000000      0.000000      0.000000
                     1     False        0.000000      0.000000      0.000000
                     2     False        0.000000      0.000000      0.000000

                                            2024          2025          2026  \
age educ insch male  nkids married
0   none False False 0     False    42241.573510  42085.851826  41736.056668
               True  0     False    42314.776246  42408.712075  42471.210829
1   dec  False False 0     False        0.000000      0.000000      0.000000
                     1     False        0.000000      0.000000      0.000000
                     2     False        0.000000      0.000000      0.000000

                                            2027          2028          2029  \
age educ insch male  nkids married
0   none False False 0     False    41435.961848  41314.146720  42087.038143
               True  0     False    42538.357811  42354.196932  41279.941180
1   dec  False False 0     False        0.000000      0.000000      0.000000
                     1     False        0.000000      0.000000      0.000000
                     2     False        0.000000      0.000000      0.000000

                                            2030  ...          2040  \
age educ insch male  nkids married                ...
0   none False False 0     False    41504.274594  ...  43039.606144
               True  0     False    41580.063519  ...  42636.508245
1   dec  False False 0     False        0.000000  ...      0.000000
                     1     False        0.000000  ...      0.000000
                     2     False        0.000000  ...      0.000000

                                            2041          2042          2043  \
age educ insch male  nkids married
0   none False False 0     False    42341.951274  43314.147255  43843.647839
               True  0     False    43992.990021  43622.528435  43571.176081
1   dec  False False 0     False        0.000000      0.000000      0.000000
                     1     False        0.000000      0.000000      0.000000
                     2     False        0.000000      0.000000      0.000000

                                            2044          2045          2046  \
age educ insch male  nkids married
0   none False False 0     False    43336.740467  44119.759954  43974.879653
               True  0     False    44434.217521  44112.276089  44459.199875
1   dec  False False 0     False        0.000000      0.000000      0.000000
                     1     False        0.000000      0.000000      0.000000
                     2     False        0.000000      0.000000      0.000000

                                            2047          2048          2049
age educ insch male  nkids married
0   none False False 0     False    44492.641079  44305.664135  44268.975159
               True  0     False    44205.382657  44470.191146  44553.479699
1   dec  False False 0     False        0.000000      0.000000      0.000000
                     1     False        0.000000      0.000000      0.000000
                     2     False        0.000000      0.000000      0.000000

[5 rows x 29 columns]

In [4]:
mc = replicator(nreps=100,ncpus=8)

In [5]:
mc.set_model(x)

copied models...

In [6]:
mc.replicate()

In [7]:
mc.stats

[2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050,
 2050]